header {

    border: 1px solid black;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;

}


header #banner {

    border: 1px solid black;
    width: 400px;
    height: 100px;
    align-self: center;

}

nav {

    display: flex;
    border: 1px solid black;
    width: 50px;
    height: 20px;
    align-self: flex-end;
    justify-self: flex-start;

}

main {

    border: 1px solid black;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main div {

    border: 1px solid black;
    flex-basis: 900px;
    margin: 15px;

}


/* seções de plantas1 */

.planta1 {

    border: 1px solid rgb(0, 0, 0);
    min-height: 400px;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.planta1 #foto {

    border: 1px solid rgb(0, 0, 0);
    height: 150px;
    flex-basis: 200px;
    margin: 15px;

}

.planta1 #descricao {

    border: 1px solid rgb(0, 0, 0);
    height: auto;
    flex-basis: 1000px;
    margin: 10px;
    text-align: justify;
}


/* seção 2 */


.planta2 {

    border: 1px solid rgb(0, 0, 0);
    min-height: 400px;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.planta2 #foto {

    border: 1px solid rgb(0, 0, 0);
    height: 150px;
    flex-basis: 200px;
    margin: 15px;

}

.planta2 #descricao {

    border: 1px solid rgb(0, 0, 0);
    height: auto;
    flex-basis: 1000px;
    margin: 10px;
    text-align: justify;
}

footer {
    border: 1px solid rgb(57, 243, 0);
    height: 100px;
    width: 100%;
    margin-top: 10px;
}


/* seção 3 */

.planta3 {

    border: 1px solid rgb(0, 0, 0);
    min-height: 400px;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.planta3 #foto {

    border: 1px solid rgb(0, 0, 0);
    height: 150px;
    flex-basis: 200px;
    margin: 15px;

}

.planta3 #descricao {

    border: 1px solid rgb(0, 0, 0);
    height: auto;
    flex-basis: 1000px;
    margin: 10px;
    text-align: justify;
}

footer {
    border: 1px solid rgb(57, 243, 0);
    height: 100px;
    width: 100%;
    margin-top: 10px;
}